.pokemon-info {
    display: flex;
    flex-direction: column;

    h2 {
       margin-bottom: 075rem;
       text-align: center;
       font-size: 1.25rem;
       text-transform: capitalize; 
    }
}